/* Hello There! */

/* General settings - Config
------------------------------------------------------------------------------- */

/* font imports */
@import url("./fonts/OpenSans/open_sans.css");
@import url("./fonts/Roboto/roboto.css");

/* global variables */
:root {
  --white: #fff;
  --black: #000;
  --backgroundBlack: #141414;
  --light-grey: #eae7e6;
  --dark-grey: #57605f;
  --orange: #bf5700;
  --light-orange: #f5b042;
  --shadow-color: #000000aa;
}

/* presets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "opensans_regular", sans-serif, "roboto_regular";
  background-color: var(--backgroundBlack);
  color: var(--light-grey);
}

h3 {
  font-family: "Jost";
  font-size: 32px;
}

/* Header 
------------------------------------------------------------------------------- */
header {
  border: none;
}

.banner {
  position: fixed;
  top: 0;
  left: 0;

  background-color: transparent;
  transition: top 0.5s;

  width: 100%;
  z-index: 3;
  padding: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#bannerMiddle {
  padding: 0.6em;
  flex: 2;
}

/* TODO: improve font settings for modern look -2*/
.navigation {
  list-style: none;
  width: 100%;
  max-width: 600px;
  margin: 2px;

  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.navigation a {
  text-decoration: none;
  font: 15px "roboto_medium";
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1px;

  display: block;
  color: var(--light-grey);

  transition: all 0.2s ease-in-out;
}

.navigation a:hover {
  color: var(--orange);
}

/* Welcome Section
------------------------------------------------------------------------------- */
#welcome {
  height: 100vh;
  width: 100%;
  min-height: 800px;
  overflow: hidden;

  background-image: url(../data/ship_stars_edited.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.welcome_content {
  position: relative;
  min-width: 300px;
  max-width: 900px;
  margin: 16% auto 5% auto;
}

#welcome_title {
  position: relative;
  text-align: center;
  font-size: 60px;
  margin: 0px 1rem 0px 1rem;
}

#welcome_message {
  position: relative;
  text-align: center;
  font-size: 22px;
  margin: 2em 4em 2px 4em;
}

.social_media_links {
  list-style: none;
  margin: 2.5em auto 3em auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social_media_links a {
  line-height: 1;
  margin: 0 10px 0 10px;
}

.social_media_links .icons {
  width: 1.75em;
  height: 1.75em;
  stroke-width: 1;
  stroke: var(--light-grey);
  fill: var(--light-grey);

  margin: 0 0.8em 0 0.8em;
}

.social_media_links .icons:hover {
  stroke-width: 1;
  stroke: #000;
  fill: #bf5700;
}

/* About-Me Section
------------------------------------------------------------------------------- */

#aboutMe {
  min-height: 600px;
  padding: 3em 0 1em 0;

  /* border: 2px solid red; */
}

.aboutMe_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2em auto 0em auto;
  max-width: 1400px;

  /* border: 2px solid green; */
}

.profile_pic {
  width: 12em;
  height: 12em;
  margin: auto 1em auto 1.5em;
  border: 1rem solid rgba(255, 255, 255, 0.02);
  border-radius: 50%;
}

#aboutMe_content_text {
  height: inherit;
  max-width: 700px;
  min-width: 350px;
  width: auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0em 0 0em;
  padding: 1em;

  font-family: "opensans_regular";
  text-align: none;
  letter-spacing: 1.2px;
  margin-bottom: 2em;
  font-size: 16px;
}

hr {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

/* Projects Section
------------------------------------------------------------------------------- */

#projects {
  min-height: 800px;
  margin: 1em 0 6em 0;
}

.projects_content {
  text-align: center;
}

.project_cards_grid {
  color: black;
  max-width: 1200px;
  position: relative;
  margin: 0 auto 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  /* border: 2px solid black; */
}

.project_cards_grid .card {
  position: relative;
  cursor: pointer;
  padding: 1em .5em;
}

.project_cards_grid .card .box {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.project_cards_grid .card .box.background1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.project_cards_grid .card:hover .box.background1 {
  background: #ff5e00;
  transform: translateY(0);
}

.project_cards_grid .card .box.background1 .content {
  opacity: 0.2;
  transition: 0.5s;
}

.project_cards_grid .card:hover .box.background1 .content {
  opacity: 1;
}

.project_cards_grid .card .box.background1 .content img {
  max-width: 200px;
  max-height: 120px;
}

.project_cards_grid .card .box.background1 .content h3 {
  font-family: consolas;
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.project_cards_grid .card .box.background2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.project_cards_grid .card:hover .box.background2 {
  transform: translateY(0);
}

.project_cards_grid .card .box.background2 .content p {
  font-family: "roboto_regular";
  margin: 0;
  padding: 0;
}

.project_cards_grid .card .box.background2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.project_cards_grid .card .box.background2 .content a:hover {
  background: #333;
  color: #fff;
}

/* Resume Section
------------------------------------------------------------------------------- */
#resume {
  min-height: min-content;
  max-height: fit-content;

  max-width: 800px;
  margin: 1em auto 3em auto;
  /* border: 2px solid red; */
}

.resume_content {
  text-align: center;
  /* border: 2px solid green; */
}

.resume_content p {
  padding: 1em;
  margin-bottom: 2em;
  text-align: center;
  font-size: 18px;
  font-family: "opensans_regular";
  letter-spacing: 1px;
}

.resume_content h4 {
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 20px;
  font-family: "opensans_regular";
  letter-spacing: 1px;
}

.skills_wrapper {
  display: inline-flex;
  justify-content: center;
  flex-flow: row wrap;
  max-width: 800px;
  margin: 0.5em;

  /* border: 2px solid red; */
}

.skills_wrapper .icon {
  position: relative;
  background-color: #000;
  border-radius: 10%;
  padding: 15px;
  margin: 32px 22px;
  width: 72px;
  height: 72px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.skills_wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.skills_wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.skills_wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.skills_wrapper .icon:hover span,
.skills_wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.skills_wrapper .python:hover,
.skills_wrapper .python:hover .tooltip,
.skills_wrapper .python:hover .tooltip::before {
  background-color: #306998;
  color: #ffffff;
}

.skills_wrapper .javascript:hover,
.skills_wrapper .javascript:hover .tooltip,
.skills_wrapper .javascript:hover .tooltip::before {
  background-color: #000;
  color: #fcdc00;
}

.skills_wrapper .java:hover,
.skills_wrapper .java:hover .tooltip,
.skills_wrapper .java:hover .tooltip::before {
  background-color: #f89820;
  color: #ffffff;
}

.skills_wrapper .csharp {
  font-size: 24px;
}
.skills_wrapper .csharp:hover,
.skills_wrapper .csharp:hover .tooltip,
.skills_wrapper .csharp:hover .tooltip::before {
  background-color: #682876;
  color: #000000;
}

.skills_wrapper .swift:hover,
.skills_wrapper .swift:hover .tooltip,
.skills_wrapper .swift:hover .tooltip::before {
  background-color: #fff;
  color: #f05138;
}

.skills_wrapper .r_project:hover,
.skills_wrapper .r_project:hover .tooltip,
.skills_wrapper .r_project:hover .tooltip::before {
  background-color: #fff;
  color: #165caa;
}

.skills_wrapper .git:hover,
.skills_wrapper .git:hover .tooltip,
.skills_wrapper .git:hover .tooltip::before {
  background-color: #f34f29;
  color: #ffffff;
}

.skills_wrapper .unix:hover,
.skills_wrapper .unix:hover .tooltip,
.skills_wrapper .unix:hover .tooltip::before {
  background-color: #000;
  color: #33ff00;
}

.skills_wrapper .php:hover,
.skills_wrapper .php:hover .tooltip,
.skills_wrapper .php:hover .tooltip::before {
  background-color: #474a8a;
  color: #ffffff;
}

.skills_wrapper .html:hover,
.skills_wrapper .html:hover .tooltip,
.skills_wrapper .html:hover .tooltip::before {
  background-color: #fff;
  color: #e34c26;
}

.skills_wrapper .css:hover,
.skills_wrapper .css:hover .tooltip,
.skills_wrapper .css:hover .tooltip::before {
  background-color: #fff;
  color: #264de4;
}

.skills_wrapper .database:hover,
.skills_wrapper .database:hover .tooltip,
.skills_wrapper .database:hover .tooltip::before {
  background-color: #f34f29;
  color: #ffffff;
}

/* Footer
------------------------------------------------------------------------------- */
footer {
  text-align: center;
  font-size: 14px;
  margin: 1px;
  padding: 1em;
  border-top: 2px solid var(--black);
}

footer a {
  color: var(--light-grey);
}

footer a:hover {
  color: var(--orange);
}
