
/* Roboto 
https://www.fontsquirrel.com/fonts/roboto
================================================================================ */

@font-face {
    font-family: 'roboto_black';
    src: url('./roboto_black/Roboto-Black-webfont.eot');
    src: url('./roboto_black/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('./roboto_black/Roboto-Black-webfont.woff') format('woff'),
         url('./roboto_black/Roboto-Black-webfont.ttf') format('truetype'),
         url('./roboto_black/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_black-italic';
    src: url('./roboto_black-italic/Roboto-BlackItalic-webfont.eot');
    src: url('./roboto_black-italic/Roboto-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./roboto_black-italic/Roboto-BlackItalic-webfont.woff') format('woff'),
         url('./roboto_black-italic/Roboto-BlackItalic-webfont.ttf') format('truetype'),
         url('./roboto_black-italic/Roboto-BlackItalic-webfont.svg#robotoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_bold';
    src: url('./roboto_bold/Roboto-Bold-webfont.eot');
    src: url('./roboto_bold/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./roboto_bold/Roboto-Bold-webfont.woff') format('woff'),
         url('./roboto_bold/Roboto-Bold-webfont.ttf') format('truetype'),
         url('./roboto_bold/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_bold-condensed';
    src: url('./roboto_bold-condensed/RobotoCondensed-Bold-webfont.eot');
    src: url('./roboto_bold-condensed/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./roboto_bold-condensed/RobotoCondensed-Bold-webfont.woff') format('woff'),
         url('./roboto_bold-condensed/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
         url('./roboto_bold-condensed/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_bold-condensed-italic';
    src: url('./roboto_bold-condensed-italic/RobotoCondensed-BoldItalic-webfont.eot');
    src: url('./roboto_bold-condensed-italic/RobotoCondensed-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./roboto_bold-condensed-italic/RobotoCondensed-BoldItalic-webfont.woff') format('woff'),
         url('./roboto_bold-condensed-italic/RobotoCondensed-BoldItalic-webfont.ttf') format('truetype'),
         url('./roboto_bold-condensed-italic/RobotoCondensed-BoldItalic-webfont.svg#roboto_condensedbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_bold-italic';
    src: url('./roboto_bold-italic/Roboto-BoldItalic-webfont.eot');
    src: url('./roboto_bold-italic/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./roboto_bold-italic/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('./roboto_bold-italic/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('./roboto_bold-italic/Roboto-BoldItalic-webfont.svg#robotobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensed-italic';
    src: url('./roboto_condensed-italic/RobotoCondensed-Italic-webfont.eot');
    src: url('./roboto_condensed-italic/RobotoCondensed-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./roboto_condensed-italic/RobotoCondensed-Italic-webfont.woff') format('woff'),
         url('./roboto_condensed-italic/RobotoCondensed-Italic-webfont.ttf') format('truetype'),
         url('./roboto_condensed-italic/RobotoCondensed-Italic-webfont.svg#roboto_condenseditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensed-regular';
    src: url('./roboto_condensed-regular/RobotoCondensed-Regular-webfont.eot');
    src: url('./roboto_condensed-regular/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./roboto_condensed-regular/RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('./roboto_condensed-regular/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('./roboto_condensed-regular/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_italic';
    src: url('./roboto_italic/Roboto-Italic-webfont.eot');
    src: url('./roboto_italic/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./roboto_italic/Roboto-Italic-webfont.woff') format('woff'),
         url('./roboto_italic/Roboto-Italic-webfont.ttf') format('truetype'),
         url('./roboto_italic/Roboto-Italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_light';
    src: url('./roboto_light/Roboto-Light-webfont.eot');
    src: url('./roboto_light/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./roboto_light/Roboto-Light-webfont.woff') format('woff'),
         url('./roboto_light/Roboto-Light-webfont.ttf') format('truetype'),
         url('./roboto_light/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_light-condensed';
    src: url('./roboto_light-condensed/RobotoCondensed-Light-webfont.eot');
    src: url('./roboto_light-condensed/RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./roboto_light-condensed/RobotoCondensed-Light-webfont.woff') format('woff'),
         url('./roboto_light-condensed/RobotoCondensed-Light-webfont.ttf') format('truetype'),
         url('./roboto_light-condensed/RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_light-condensed-italic';
    src: url('./roboto_light-condensed-italic/RobotoCondensed-LightItalic-webfont.eot');
    src: url('./roboto_light-condensed-italic/RobotoCondensed-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./roboto_light-condensed-italic/RobotoCondensed-LightItalic-webfont.woff') format('woff'),
         url('./roboto_light-condensed-italic/RobotoCondensed-LightItalic-webfont.ttf') format('truetype'),
         url('./roboto_light-condensed-italic/RobotoCondensed-LightItalic-webfont.svg#roboto_condensedlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_light-italic';
    src: url('./roboto_light-italic/Roboto-LightItalic-webfont.eot');
    src: url('./roboto_light-italic/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./roboto_light-italic/Roboto-LightItalic-webfont.woff') format('woff'),
         url('./roboto_light-italic/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('./roboto_light-italic/Roboto-LightItalic-webfont.svg#robotolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_medium';
    src: url('./roboto_medium/Roboto-Medium-webfont.eot');
    src: url('./roboto_medium/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('./roboto_medium/Roboto-Medium-webfont.woff') format('woff'),
         url('./roboto_medium/Roboto-Medium-webfont.ttf') format('truetype'),
         url('./roboto_medium/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_medium-italic';
    src: url('./roboto_medium-italic/Roboto-MediumItalic-webfont.eot');
    src: url('./roboto_medium-italic/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./roboto_medium-italic/Roboto-MediumItalic-webfont.woff') format('woff'),
         url('./roboto_medium-italic/Roboto-MediumItalic-webfont.ttf') format('truetype'),
         url('./roboto_medium-italic/Roboto-MediumItalic-webfont.svg#robotomedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_regular';
    src: url('./roboto_regular/Roboto-Regular-webfont.eot');
    src: url('./roboto_regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./roboto_regular/Roboto-Regular-webfont.woff') format('woff'),
         url('./roboto_regular/Roboto-Regular-webfont.ttf') format('truetype'),
         url('./roboto_regular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_thin';
    src: url('./roboto_thin/Roboto-Thin-webfont.eot');
    src: url('./roboto_thin/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('./roboto_thin/Roboto-Thin-webfont.woff') format('woff'),
         url('./roboto_thin/Roboto-Thin-webfont.ttf') format('truetype'),
         url('./roboto_thin/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_thin-italic';
    src: url('./roboto_thin-italic/Roboto-ThinItalic-webfont.eot');
    src: url('./roboto_thin-italic/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./roboto_thin-italic/Roboto-ThinItalic-webfont.woff') format('woff'),
         url('./roboto_thin-italic/Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('./roboto_thin-italic/Roboto-ThinItalic-webfont.svg#robotothin_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
